:root {
  --bg-white: rgb(253, 253, 253);
}

.search-bar {
  background-color: var(--bg-white);
  border-radius: 1.2rem 1.2rem;
}

.search-btn {
  background-color: var(--bg-white);
  border-radius: 1.2rem 0 0 1.2rem;
  cursor: pointer;
}

.search-input:focus {
  outline: none;
}
